discord-ext-music
python-dotenv
beautifulsoup4==4.11.1
bs4==0.0.1
cmd2==2.3.3
discord==1.7.3
discord.py==1.7.3
html5lib==1.1
openpyxl==3.0.9
pefile==2021.5.24
Pillow==8.2.0
pipenv==2022.1.8
pipreqs==0.4.11
pyglet==1.5.18
PyNaCl==1.5.0
requests==2.25.1
simpledemotivators==2.1.0
SQLAlchemy==1.4.36
static-ffmpeg==2.2.0
transliterate==1.10.2
urllib3==1.26.6
virtualenv==20.13.0
virtualenv-clone==0.5.7
wikipedia==1.4.0
xlrd==2.0.1
yandex-weather-api==0.2.4
youtube-dl==2021.12.17
